<h2><%= @book.title %></h2>
<h3><%= @book.author %></h3>
<p><%= @book.description %></p>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_book_path(@book) %>
<%= button_to "delete", book_path(@book), :method=>:delete, :class=>:destroy %>
